<% include ./../partials/header %>
<link rel="stylesheet" href="/css/fiveStar.css">
<div class="container" style="margin-bottom: 15%;">
    <div class="row">
        <div class="col-md-12 col-sm-6" style="background-color: rgba(156,149,131,0.9); border-radius: 15px;">
            <div class="col-md-6">
                <h1 style="text-align: center;">Update Your Review!</h1>
                <form action="/breads/<%= bread.id %>/comments/<%= cData._id %>?_method=PUT" method="post">
                    <div class="form-group">
                        <% include ./../partials/fiveStarRating %>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="comment[text]"
                               type="text" placeholder="Comment Text" value="<%= cData.text %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-lg btn-warning">Update Comment</button>
                    </div>
                </form>
                <div style="width: 15%; margin: 0 auto;">
                    <a style="background-color: white; padding: 10px; border-radius: 5px;"
                       href="/breads/<%= bread._id %>">Cancel</a>
                </div>
            </div>
            <div class="col-md-6" style="border-left: 1px solid black;">
                <h1 style="text-align: center;"><%= bread.name %></h1>
                <h5 style="text-align: center">Posted: <time datetime="<%= bread.created %>"><%= bread.created %></time></h5>
                <img class="img-responsive" style="margin: 15px auto; border-radius: 15px;" src="<%= bread.imgSrc %>"/>
                <p style="text-align: left; font-size: 2rem; padding: 0.2rem 5rem 5rem 5rem;"><%= bread.description %></p>
            </div>
        </div>
    </div>
</div>
<% var sf = true; %>
<% include ./../partials/footer %>