<h3>
    Reviews (<%= inq.comments.length %>)
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
    <div style="margin: 15px 0;">
        <span style="padding-top: 10px;">
            Overall Rating: <%= isNaN(inq.generalRating) ? 'No ' : inq.generalRating %> Stars
        </span>
        <a style="margin-top: -13px;" class="btn btn-success pull-right"
           href="/breads/<%= inq._id %>/comments/new">
            Add A Review
        </a>
    </div>
</h3>
<hr/>
<% if ((user) && (inq.comments.length > 0)) { %>
<div class="collapse navbar-collapse" style="padding: 10px;">
    <% include ../../partials/datatable/prefix %>
    <% inq.comments.forEach(function(comment, index) { %>
    <tr>
        <td>
            <%= comment.rating %> Stars
        </td>
        <td>
            <%= comment.created %>
        </td>
        <td>
            <%= comment.author.username %>
        </td>
        <td class="center">
            <%= comment.text %>
        </td>
        <td class="center">
            <% if (JSON.stringify(user._id) === JSON.stringify(comment.author.userid)) { %>
            <a class="btn btn-block btn-warning" style="margin-bottom: 10px;" href="/breads/<%= inq._id %>/comments/<%= comment._id %>/edit">Edit Review</a>
            <form action="/breads/<%= inq._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
                  style="display: inline;">
                <button class="btn btn-block btn-danger"
                    onclick="return confirm('Are you sure you want to delete your review?')">
                    Delete Review
                </button>
            </form>
            <% } %>
        </td>
    </tr>
    <% }); %>
    <% include ../../partials/datatable/postfix %>
</div>
<% } else if (!(user)) { %>
    <% include ../../partials/auth/signInOrUp %>
<% } else if (!(inq.comments.length > 0)) { %>
<div class="row">
    <div class="col-md-12" style="margin: 0 0 15px 0;">
        <h4 style="text-align: center;">No Reviews Yet!</h4>
    </div>
</div>
<% } %>