<% include ./../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <% var h1Text = u.provider === 'local' ? 'The Local Host Provider' : u.provider.slice(0, 1).toUpperCase().concat(u.provider.slice(1))%>
            <article style="background-color: rgba(239,231,215,0.9); border-radius: 10px;">
                <h1 style="text-align: center; padding-top: 2rem;">Your Profile Is Managed By <%= h1Text %></h1>
                <h2 style="text-align: center; padding-bottom: 2rem;">Here is the information we have on you:</h2>
                <div style="width: 50%; margin: 0 auto;">
                    <label style="font-size: x-large; margin-left: 2rem; margin-right: 1rem;">
                        First Name
                    </label>
                    <ins style="font-size: x-large; margin-right: 1rem;">
                        <%= u.firstName %>
                    </ins>
                    <label style="font-size: x-large; margin-left: 2rem; margin-right: 1rem;">
                        Last Name
                    </label>
                    <ins style="font-size: x-large; margin-right: 1rem;">
                        <%= u.lastName %>
                    </ins>
                    <br/>
                    <% if (u.provider === 'local') { %>
                    <label style="font-size: x-large; margin-left: 2rem; margin-right: 1rem; padding-top: 1rem; padding-bottom: 1rem;">
                        Email
                    </label>
                    <ins style="font-size: x-large; margin-right: 1rem;">
                        <%= u.email %>
                    </ins>
                    <br/>
                    <% } %>
                    <label style="font-size: x-large; margin-left: 2rem; margin-right: 1rem; padding-bottom: 2rem;">
                        Account Created
                    </label>
                    <ins style="margin-right: 1rem;">
                        <%= u.created %>
                    </ins>
                </div>
                <div>
                    <p style="font-size: large; text-align: center; padding-bottom: 1rem;">
                        *Note: If any information on this page should change, please change
                        it through your social media account.
                    </p>
                </div>
                <div style="margin: 0 auto; width: 50%; text-align: center;">
                    <form action="/accountConfigHome/deleteAccount/<%= u._id %>?_method=DELETE" method="POST">
                        <button style="margin-bottom: 2rem;" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete your Slantos Account?\n\nYou may not' +
                        ' undo this action. Any reviews created may still be present after deleting your account.')">
                            Delete My Slantos Account
                        </button>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>
<% var sf = true; %>
<% include ./../partials/footer %>