<% include ./../partials/header %>
<div class="container">
    <header class="jumbotron" id="headerStyle">
        <div class="container">
            <h1 style="text-align:center;">A World Of Bread!</h1>
            <blockquote id="quoteStyle"
                        cite="https://www.goodreads.com/quotes/244307-for-she-was-a-child-throwing-bread-to-the-ducks">
                “For she was a child, throwing bread to the ducks, between her parents who stood by the lake, holding
                her life in her arms which, as she neared them, grew larger and larger in her arms, until it became a
                whole life, a complete life, which she put down by them and said, "This is what I have made of it!
                This!" And what had she made of it? What, indeed?”
                <h5> - Virginia Woolf</h5>
            </blockquote>
            <% if (user) { %>
                <% if (user.username === 'dGreco_fs') { %>
                <p style="width: 20%; margin: 0 auto;">
                    <a class="btn btn-primary btn-lg" href="/breads/new">Add A New Bread</a>
                </p>
                <% } %>
            <% } %>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% if (breadsList.length === 0) { %>
            <div class="container">
                <div style="width: 60%; margin: 0 auto;">
                    <h3 class="btn-danger" style="border-radius: 20px;">
                        The Author has not published any Bread recipes yet...Shame
                    </h3>
                </div>
            </div>
        <% } else { %>
        <% breadsList.forEach(function(typeOfBread) { %>
        <div class="col-md-3 col-sm-6" style="margin-bottom: 3%">
            <div class="thumbnail">
                <img src="<%= typeOfBread.imgSrc %>"/>
                <div class="caption">
                    <h4><%= typeOfBread.name %></h4>
                </div>
                <div style="margin: 0 10px 10px 10px;">
                    <a class="btn btn-md btn-primary" href="/breads/<%= typeOfBread._id %>">More Information</a>
                </div>
                <div style="margin: 10px;"> Posted:
                    <time datetime="<%= typeOfBread.created %>">
                        <%= typeOfBread.created %>
                    </time>
                </div>
                <% if (user) { %>
                <% if (user.username === 'dGreco_fs') { %>
                <div style="margin: 10px;">
                    <form action="/breads/<%= typeOfBread._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete your post?')">
                            Delete
                        </button>
                    </form>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</div>
<% var sf = true; %>
<% include ./../partials/footer %>